{% extends "base.html" %}

{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block content %}

<a href="{{ SITEURL }}">
	<div id="home-button-zone">
	</div>
</a>

<a href="#" onclick="window.scroll({ top: 0, left: 0, behavior: 'smooth' });">
	<div id="scroll-up-zone">
	</div>
</a>

<section id="content" class="article content">
    <div class="row">
        <div class="col">
        <header>
            <h1 class="entry-title"> {{ article.title }} </h1>

            <div class="text-muted">
                {{ article.locale_date }}
            </div>
        </header>
        </div>
    </div>

    <div class="row entry-content">
      <article>
		{{ article.content }}
      </article>
    </div>

</section>

<hr/>

{% include 'author.html' %}

<hr/>

<div class="row" id="feedback-footer">
    <div class="col">
        <p>
	        For comments, please send me an 
            <a class="link-in-code" href="mailto:albershteyn.andrey@gmail.com"
                target="_top">email</a> or contact me on
            <a class="link-in-code" href="https://t.me/alberand">Telegram</a>.
	    </p>
	    <p>
	        Or create <a class="link-in-code" 
                href="{{ article.source_path | asGitHubPage }}">
                pull request with improvements</a>
	    </p>
    </div>
</div>

<!-- Structured data -->
<!-- Google's Metadata -->
<script type="application/ld+json">
    {
      "@context":"http://schema.org",
      "@type":"BlogPosting",
      "mainEntityOfPage":"{{SITEURL}}/{{ article.url }}",
      "author":{
        "@type": "Person",
        "name": "{{ article.author }}"
      },
      "headline": "{{ article.title }}",
      "description": "{{ article.metadata['summary']|striptags }}",
      "datePublished": "{{ article.date }}",
      "dateModified": "{{ article.metadata['modified'] }}",
      "keywords": "{{ article.metadata['keywords'] }}",
      "image": "{{ SITEURL }}/{{ article.metadata['image'] }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ SITENAME }}",
        "logo": {
			"@type": "ImageObject",
            "url": "{{ SITEURL }}/{{ SITELOGO['url'] }}",
			"height": "{{ SITELOGO['height'] }}",
            "width": "{{ SITELOGO['width'] }}"
        }
      }
    }
</script>

{% endblock %}
