<div id="author" class="row">
    <div id="author-photo" class="col-sm-auto">
        <img width="130px" height="130px" style="margin-top: 15px;"
                src="{{ SITEURL }}/theme/profile-photo-circle.png">
    </div>
    <div id="author-description" class="col-sm">
        Hey👋 I'm Andrey. I have a quite wide range of experience from hardware
	debugging and kernel development to web scrapping. During the day I work
	as a Software Engineer on Linux filesystems. In this blog I post my
	personal short tutorials or interesting technical notes. I love open
	source and use mainly free software. Btw I use Arch. Subscribe for
	updates on:

	<p class="contacts">
		<a class="link-in-code" href="https://t.me/missinglog">@missinglog</a>
		or
		<a class="link-in-code" href="https://twitter.com/alberand_">@alberand_</a>
		or contact via 
		<a class="link-in-code" href="mailto:andrey.albershteyn@gmail.com" target="_top">email</a>
	</p>
    </div>
</div>

<style>
.contacts {
	padding: 10px 0 0 0;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}
</style>
