<div id="author" class="row">
    <div id="author-photo" class="col-sm-auto">
        <img width="130px" height="130px" style="margin-top: 15px;"
                src="{{ SITEURL }}/theme/profile-photo-circle.png">
    </div>
    <div id="author-description" class="col-sm">
        Hey👋 I'm Andrey. I have a quite wide range of experience from hardware
        debugging and kernel development to web scrapping. During the day I work
				as a Software Engineer on Linux filesystems. In this blog I post my
				personal short tutorials or intresting technical notes. I love open
				source and use mainly free software. Btw I use Arch. Feel free to ping
				me here:

        <p style="padding: 10px 0 0 0; text-align: center;">
        <i class="fas fa-envelope fa-1g" aria-hidden="true"></i>
            <a class="link-in-code"
                href="mailto:andrey.albershteyn@gmail.com"
                target="_top">email</a>
        or <i class="fab fa-telegram fa-1g" aria-hidden="true"></i>
                  <a class="link-in-code"
                      href="https://t.me/alberand">@alberand</a>
        or <i class="fab fa-twitter fa-1g" aria-hidden="true"></i>
                  <a class="link-in-code"
                      href="https://twitter.com/alberand_">@alberand_</a>
        </p>
    </div>
</div>
