{% extends "base.html" %}
{% block navclass %}active{%endblock%}
{% block content %}
<div id="about">
{% include 'author.html' %}
    <hr/>
</div>
    <section id="content" class="content">
        <div id="article-list">
      {% block content_title %}
      {% endblock %}
      {% for article in articles_page.object_list %}
      <div class="row" style="line-height: 20px;">
        <div class="col-sm-3 article-list-date">
          <span class="text-muted">{{article.locale_date}}</span>
        </div>
        <div class="col-sm-auto">
          <p>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
                title="Permalink to {{ article.title|striptags }}">{{ article.title|striptags }}</a>
            <br/>
            <!-- {{ article.summary|striptags }} //-->
          </p>
        </div>
      </div>
      {% endfor %}
        </div>
    </section>
    <!-- content -->
{% endblock content %}
